@use "../abstracts" as c;

.input-box {
	position: relative;
	width: 90%;
	input {
		background-color: #e7e7e7;
          height: 50px;
		&:focus {
			animation: 0.3s bounce forwards;
		}
		@keyframes bounce {
			0% {
				transform: scale(1)
			}
			50% {
				transform: scale(1.02)
			}
			100% {
				transform: scale(1)
			}
		}
		@include  c.max-375px {
			width: 100%;
		}
		@include  c.max-992px {
			width: 100%;
		}
	}
	i {
		position: absolute;
		right: 13px;
		top: 16px;
		color: black;
	}
}