.toast {
     opacity: 1;
     position: absolute;
     bottom: 40px;
     left: 40px;
     animation: .6s toast-in forwards;
     z-index: 5;
     width: 400px !important;
     .mr-auto {
          color: #fff;
     }
     .toast-body {

          color: #fff;
          font-size: 1.1rem;
     }
}

@keyframes toast-in {
     0% {
          opacity: 0;
          transform: translateX(-60px);
     }
     100% {
          opacity: 1;
          transform: translateX(0);
     }
}